# Homework 1

In [2]:
import numpy as np
import pandas as pd

## Q1. Pandas version

In [17]:
pd.__version__

'2.3.2'

## Q2. Records count

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [4]:
len(df)

9704

In [ ]:
df.describe().round(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.00,9222.00,8996.00,9704.00,8774.00,9704.00,9202.00,9704.00
mean,199.71,3.96,149.66,3001.28,15.02,2011.48,-0.01,14.99
std,49.46,2.00,29.88,497.89,2.51,6.66,1.05,2.56
min,10.00,0.00,37.00,952.68,6.00,2000.00,-4.00,6.20
25%,170.00,3.00,130.00,2666.25,13.30,2006.00,-1.00,13.27
50%,200.00,4.00,149.00,2993.23,15.00,2012.00,0.00,15.01
75%,230.00,5.00,170.00,3334.96,16.70,2017.00,1.00,16.71
max,380.00,13.00,271.00,4739.08,24.30,2023.00,4.00,25.97

## Q3. Fuel types

In [24]:
df['fuel_type'].nunique()

2

## Q4. Missing values

In [29]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Q5. Max fuel efficiency

In [30]:
df[
    df['origin'] == 'Asia'
].groupby('fuel_type').fuel_efficiency_mpg.max().round(4)

fuel_type
Diesel      23.0337
Gasoline    23.7591
Name: fuel_efficiency_mpg, dtype: float64

## Q6. Median value of horsepower

In [34]:
df = pd.read_csv('car_fuel_efficiency.csv')

median_before = df['horsepower'].median()
most_frequent = df['horsepower'].mode()[0]
df['horsepower'] = df['horsepower'].fillna(most_frequent)
median_after = df['horsepower'].median()

print("Median before:", median_before)
print("Most frequent value:", most_frequent)
print("Median after:", median_after)

Median before: 149.0
Most frequent value: 152.0
Median after: 152.0

## Q7. Sum of weights

In [16]:
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTX_inv @ X.T @ y

w.sum()

np.float64(0.5187709081074006)